:root{
    --border: 0.5px solid rgba(193, 193, 193, 0.213);
}

.modal-container{
    display: flex;
    position: fixed;
    top: 0; right: 0; left: 0; bottom: 0;
    z-index: 999;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.477);
    backdrop-filter: blur(10px);
}
.modal{
    width: 600px;
    padding: 50px;
    margin: 0 20px;
    background-color: var(--white);
    border-radius: 15px;
    animation: showModal 1s ease-in-out;
}
#dark .modal{
    background-color: var(--dark-medium);
}
.modal-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: var(--border);
}
.modal-header svg{
    cursor: pointer;
}

.modal-header h1{
    color: var(--dark-gray);
}
#dark .modal-header h1{
    color: var(--white-gray);
}

.modal-content{
    margin-top: 25px;
    padding-bottom: 30px;
    border-bottom: var(--border);
}
.modal-buttons{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}
.modal-buttons .close-btn{
    width: 150px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
    background-color: var(--pink);
}



@keyframes showModal{
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}