:root{
    --purple: #a100ff;
    --pink: #ec00ff;
    --white: #fdfffe;
    --white-gray: #e9e6ef;
    --green: #00cc52;
    --light-green: #01fd46;
    --dark-gray: #372f44;
    --dark: #0a0511;
    --linear-gradient: linear-gradient(to right, var(--pink), var(--purple));
}