.projects-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 510px;
    height: 270px;
    background-color: var(--white-gray);
    border-radius: 30px;
}

#dark .projects-card{
    background-color: var(--dark-medium);
}